.card{
  border: 3px solid;                /*adding the border and its thickness*/
  border-radius: 20px;              /*this is for the roundness of the edges*/
  box-shadow: 5px 5px 5px grey;   /*horizontal vertical and color offets respectively*/
  max-width: 250px;                 /*width of the border*/
  padding: 10px;                    /*INSIDE the border*/
  margin: 20px;                     /*OUTSIDE the border*/
  text-align: center;
}

.button{
  background-color: blue;
  color: white;
  border: none;
  margin: 20px;
  cursor: pointer;
}